{% extends "base.html" %}
{% block content %}
<div class="post-content">
    <h1 class="post-title">I'm Ainsley</h1>
    <p>A graduate from Imperial College London and currently a software engineer at <a href="https://stripe.com/">Stripe</a>.</p>

    <p>Outside of work you'll find me writing <a href="/blog">blog posts</a>, creating <a href="https://soundcloud.com/sgtmdnb">mixes</a>
        of Drum and Bass, teaching
        computers how to mix music or hacking away on one of the side projects you can check out below.
    </p>

    <p>You can find me in all of the usual places - <a href="https://github.com/ains">GitHub</a>, <a href="https://twitter.com/ainsej">Twitter</a>,
        <a href="https://www.linkedin.com/in/ainsej">LinkedIn</a>, or in dire emergencies via <a href="mailto:me@ains.co?subject=Hello!">email</a>.</p>

    <h2>Projects</h2>
    <ul>
        <li><strong><a href="https://github.com/ains/tagGIT">tagGIT</a></strong> - Draw and export a Git
            repository for a custom GitHub contribution calendar
        </li>
        <li><strong><a href="https://github.com/ains/aircast">AirCast</a></strong> - Stream music
            seamlessly between your iDevices and your Chromecast or Chromecast Audio via AirPlay.
        </li>
        <li><strong><a href="https://github.com/ains/go-test-html">go-test-html</a></strong> - Convert
            `go test` output into a prettified HTML summary.
        </li>
    </ul>
</div> <!-- /post-content -->
{% endblock content %}